<div id="container">
    <div class="text">
        <span>NEW MONOGRAPH DASHBOARD</span>
        <h1 class="title">POWERFUL INSIGHTS<br>INTO YOUR TEAM</h1>
        <p class="paragraph"> Project planning and time tracking<br>for agile teams.</p>
        <div class="btn">
            <button class="schedule-btn">SCHEDULE A DEMO</button>
            <p class="secondary-paragraph">TO SEE A PREVIEW</p>
        </div>
    </div>
    <div class="photo">
        <img class="main-photo" src="assets/illustration-devices.svg" alt="device">
    </div>
</div>